/neuroConstruct/generatedNeuroML2/clean.sh
/neuroConstruct/wor*

*.sedml
*.dat
*.props
runsim.sh
*.mod
*.hoc
x86_64
*.log
*.bak
*nrn.py
*~
neuroConstruct/generatedNeuroML/README
temp

generatedMOOSE
generatedGENESIS
generatedNEURON
simulations
savedNetworks

AdityaGilraMOOSEnC/generatedNeuroML/

pythonScripts/*.xml
neuroConstruct*old

neuroConstruct/generatedNeuroML2/LEMS_Test*
neuroConstruct/generatedNeuroML2/html
